# Ignore file for Visual Studio 2010

syntax: glob

*.obj
*.exe
*.dll
*.Dll
*.DLL
*.ipch
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.scc
*.VisualState.xml
desktop.ini

*/[Bb]in/*
*/[Dd]ebug*/
[Dd]ebug*/
*/obj/*

*/[Rr]elease*/
[Rr]elease*/
*/_ReSharper*/
[Tt]est[Rr]esult.xml
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
./ipch/*
*/ipch/*

# Ignore NuGet packages.

./packages/*
